@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: white;
	--color-on-background: theme("colors.gray.700");
	--color-accent: theme("colors.pink.200");
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: theme("colors.gray.700");
		--color-on-background: theme("colors.gray.300");
		--color-accent: theme("colors.pink.600");
	}
}

@layer base {
	html {
		@apply bg-background;
	}
}
