@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
	--color-background: white;
	--color-on-background: theme("colors.gray.700");
	--color-accent: theme("colors.pink.200");
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: theme("colors.gray.700");
		--color-on-background: theme("colors.gray.300");
		--color-accent: theme("colors.pink.600");
	}
}

@theme {
	--color-background: var(--color-background);
	--color-on-background: var(--color-on-background);
	--color-accent: var(--color-accent);
}

@layer utilities {
	.prose-quoteless {
		blockquote p:first-of-type::before {
			content: none;
		}
		blockquote p:first-of-type::after {
			content: none;
		}
	}
}
